<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="dentysta Gdynia, stomatolog Gdynia, dentysta Gdynia świętojańska, implanty Gdynia, stomatologia Gdynia, protetyka Gdynia, dentysta, stomatolog" />
    <meta name="description" content="Alfamed - stomatologia, protetyka i medycyna estetycznia. Gdynia, ulica Świętojańska 78/6." />
<title>Alfamed - dentysta, Gdynia Świętjonańska</title>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/foundation.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/main.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/style.css') }}" >
    <script src="{{ asset('bundles/framework/js/modernizr.js') }}" > </script>
    <script src="stylesheet" href="{{ asset('bundles/framework/js/jquery.js') }}" ></script>
    <script src="stylesheet" href="{{ asset('bundles/framework/js/foundation.min.js') }}"> </script>
</head>
<body>
<noscript>
<p style="text-align: center">
    Nie masz włączonej obsługi JavaScript. Strona nie wyświetli się prawidłowo.
</p>
</noscript>

<header>
    <div class="row">
        <div class="large-12 columns">
            <img id="admin_logo" src="{{ asset('bundles/framework/images/logo_2.png') }}"  alt="Brak zdjęcia"/>
            <span id="admin_title">Panel administracyjny</span>
        </div>
    </div>    
</header>

<section id="admin_content" >
    <div class="row">
        <div class="large-12 columns">
            <ul class="large-block-grid-3 small-block-grid-3 uslugi">
                <li> <a href="/admin/promocja" > <button class="admin_button">  Dodaj promocję </button> </a></li>
                <li> <a href="/admin/porada" ><button class="admin_button"> Dodaj poradę </button> </a> </li>
                <li>  <a href="/admin/ustawienia" ><button class="admin_button"> Ustawienia </button> </a></li>
            </ul>
        </div>
    </div>
</section>

<footer id="admin_footer">
   <span> &copy; by Axel Block &middot; </span><form method="post" action='/logout'> <button class="admin_button"> Wyloguj </button> </form>


<script>
    $(document).foundation();
</script>
</body>
</html>
